.body {
    font-family: "Roboto", sans-serif;
    color: #212121
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 20;
    letter-spacing: 0, 03em;
    color: #2196F3;
    text-decoration: none;
}

.logo2 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 20;
    letter-spacing: 0, 03em;
    color: #212121;
    text-decoration: none;
}

.nav-header {
    font-family: "Roboto";
    color: #212121;
    background-color: #ececec;
    font-weight: 500;
    font-size: 14px;
    line-height: 1, 14;
    letter-spacing: 0.02em;
    text-decoration: none;
}


ul {
    list-style-type: none;
}

.link-agency:hover,
.link-agency:focus {
    color: #2196F3;
    text-decoration: none;
}


.link-portfolio:hover,
.link-portfolio:focus {
    color: #2196F3;
    text-decoration: none;
}

.buttons-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3em;
    text-align: center;
    cursor: pointer;
    background: #f5fafa;
    border: #2196F3;
    border-radius: 4px;
    padding: 6px 22px;
}

.buttons-style:hover {
    color: #ffffff;
    background-color: #2196F3;
}

.button-style:focus {
    color: #ffffff;
    background-color: #2196F3;
}

.footer {
    font-family: "Roboto";
    background-color: #2F303A;
    color: #ffffff;
    font-size: 14px;
    line-height: 1, 7;
    font-weight: 400px;
    letter-spacing: 0, 03em
}

.contact {
    font-family: "Roboto";
    background: #2F303A;
    color: rgba(255, 255, 255, 0, 6);
    font-size: 14px;
    line-height: 1, 7;
    font-weight: 400px;
    letter-spacing: 0, 03em;
    text-decoration: underline;
}

.contact1 {
    font-family: "Roboto";
    background: #2F303A;
    color: rgba(255, 255, 255, 0, 6);
    font-size: 14px;
    line-height: 1, 7;
    font-weight: 400px;
    letter-spacing: 0, 03em;
}

.adress {
    font-family: "Roboto";
    background: #2F303A;
    color: #ffffff;
    font-size: 14px;
    line-height: 1, 7;
    font-weight: 400px;
    letter-spacing: 0, 03em
}