:root {
  --background-color: #ffffff;
  --button-color: #404bbf;
  --button-text: #4d5ae5;
  --body-text: #434455;
  --header-color: #2e2f42;
  --cloud-color: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  background-color: var(--background-color);
}

.logo,
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-text);
  text-decoration: none;
}

.list {
  font-family: "Roboto";
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  font-style: normal;
}
.list a:hover,
.list a:focus,
.link {
  color: var(--button-text);
}
.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
}

[href^="./"] {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}
.framework {
  background-color: var(--header-color);
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.hero {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.value {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.values {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.purpuse {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--header-color);
}

.team {
  color: #212121;
  font-weight: 700;
  font-size: 36 px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  background-color: var(--cloud-color);
}
.people {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--header-color);
}

.buttons-style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  background-color: var(--cloud-color);
  color: var(--button-text);
  border: 1px;
}

.buttons-style:hover,
.button-style:focus {
  color: var(--background-color);
  background-color: var(--button-color);
}

.button-index {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--background-color);
  background-color: var(--button-text);
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-index:hover,
.button-index:focus {
  color: #ffffff;
  background-color: var(--button-color);
}

.footer {
  background: var(--header-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
